/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');

body {
  font-family: 'Inter', sans-serif;
  color: #2e2f42;
  margin: 0;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;
}

.form {
  padding: 36px 0 32px 0;
}

.input {
  width: 242px;
  height: 23px;
  gap: 8px;
  border: 1px solid rgba(128, 128, 128, 1);
  border-radius: 4px;
  padding: 8px 16px;
}

.input:hover {
  border: 1px solid rgba(0, 0, 0, 1);
}

.input:target {
  border: 1px solid rgba(78, 117, 255, 1);
}

.input:active .form {
  padding: 36px 0 32px 0;
}

.search {
  background-color: rgba(78, 117, 255, 1);
  color: rgba(255, 255, 255, 1);
  border: none;
  border-radius: 8px;
  padding: 10px 18px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s;
  width: 91px;
  height: 40px;
}

.search:hover {
  background-color: rgba(108, 140, 255, 1);
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
  width: 1128px;
  margin: 0 auto;
}

.gallery-item {
  max-width: 360px;
  border: 1px solid rgba(128, 128, 128, 1);
}

.photo-card {
  border: 1px solid #ddd;
  border-radius: 6px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s;
}

.photo-card:hover {
  transform: translateY(-4px);
}

.photo-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.info {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  font-size: 12px;
  max-width: 360px;
  height: 48px;
}

.info b {
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
}

.info p {
  display: flex;
  flex-direction: column;
}

img {
  width: 360px;
  height: 152px;
  object-fit: cover;
}

.iziToast-message {
  font-size: 15px;
}

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  border: 8px solid #4e75ff;
  border-bottom-color: transparent;
  border-radius: 50%;
  animation: rotation 1s linear infinite;
  transform: translate(-50%, -50%);
  display: none;
}

@keyframes rotation {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.loader.visible {
  display: block;
}
